/* ---------------------------- FONTS */

/* ---------------------------- GENERAL */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	background-color: white;
}

a {
	text-decoration: none;
}

label {
	display: block;
}

form div {
	margin: 1em;
	display: inline-block;
}

img {
	max-height: 50px;
	max-width: 50px;
	border-radius: 5px;
	margin-right: 10px;
}

select {
	padding: 0 1em 0 0;
	margin: 0;
	height: 25px;
	width: 172px;
}

button {
	border: none;
	justify-content: space-between;
	padding: 0px 12px 0px 12px;
	height: 25px;
	cursor: pointer;
	background-color: #93edc7;
	letter-spacing: 0.1em;
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.05);
	font-weight: bold;
}

/* ---------------------------- NAV BAR */

nav a {
	display: inline-block;
	margin: 1em;
}

.header {
	display: flex;
	width: 100%;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	align-items: center;
	background-color: #93edc7;
	color: black;
	position: relative;
}

.app-name {
	margin-top: 10px;

}

/* ---------------------------- BOTTOM NAVBAR */

.bottom-navbar {
	/* padding: 5px 20px; */
	display: flex;
	width: 100%;
	align-items: center;
	background-color: #93edc7;
}

.bottom-navbar ul {
	flex: 1;
	text-align: center;
}

.bottom-navbar ul li {
	display: inline-block;
	text-align: right;
	margin: 0 30px;
}

.mobile-list {
	display: none;
}

@media only screen and (max-width: 400px) {
	.bottom-navbar .desktop-list {
		display: none;
	}
	.mobile-list {
		background-color: #93edc7;
		color: black;
		display: block;
		position: fixed;
		bottom: 0;
		left: 0;
		display: flex;
		justify-content: space-around;
		align-items: center;
		width: 100%;
		padding: 12px;
	}
	.mobile-list i {
		font-size: 8vmin;
		cursor: pointer;
	}

	.mobile-list li:hover i {
		color: #cccccc;
	}
}

/* ---------------------------- LOG IN PAGE */

input {
	height: 25px;
}

.info-input {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}
