/* ---------------------------- FONTS */



/* ---------------------------- GENERAL */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
}

a {
	text-decoration: none;
}

label {
	display: block;
}

form div {
	margin: 1em;
	display: inline-block;
}

/* ---------------------------- NAV BAR */

nav a {
	display: inline-block;
	margin: 1em;
}